{% extends "base.html" %}

{% block content %}
<h1>Sightseeing</h1>
{% if current_user.is_authenticated %}
        <a href="attractions" class="btn btn-secondary" id="attr_but">Add attraction</a>
{% endif %}
{% for item in attractions%}
<div id="item" class="col-md6 border rounded">
    <h2 id="name">{{item.name}}</h2>
    <div id="description">
        <h4>
            Description: {{item.description}}
        </h4>
    </div>
    <div id="picture">
        <img src="{{ item.pic }}" alt="Not found">
    </div>
    <div id="map">
        <a href="{{ item.map }}">Show on the map</a>
    </div>
    <div>
        <h4>
            City: {{ item.city }}, Country: {{ item.country }}
        </h4>
    </div>
    <div>
        <h4>
        Author: {{ item.user.name }}, created date: {{item.created_date.strftime('%d.%m.%Y')}}
    </h4>
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
        <div id="buttons">
            <a href="/attractions/{{ item.id }}" class="btn btn-warning">
                Change
            </a>
            <a href="/attractions_delete/{{ item.id }}" class="btn btn-danger">
                Delete
            </a>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}